<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SessionManagement</display-name>
  <servlet>
    <servlet-name>HiddenLogin</servlet-name>
    <servlet-class>HiddenLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieLogin</servlet-name>
    <servlet-class>CookieLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionLogin</servlet-name>
    <servlet-class>SessionLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RewriteLogin</servlet-name>
    <servlet-class>RewriteLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenLogin</servlet-name>
    <url-pattern>/hidden/loginProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieLogin</servlet-name>
    <url-pattern>/cookie/loginProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionLogin</servlet-name>
    <url-pattern>/session/loginProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RewriteLogin</servlet-name>
    <url-pattern>/rewrite/loginProcess</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>&#xA;            index.jsp&#xA;        </welcome-file>
  </welcome-file-list>
</web-app>